body {
    background: rgb(222, 221, 221);
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.top_img {
    border-radius: 50px;
    border: 5px solid #0000; 
}

#title, .subtitle, .post_title {
    color: rgb(12, 6, 79);
}

#title {
    font-style: italic;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: underline;
}

.subtitle {
    font-style: italic;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline;

}

a {
    text-decoration: underline;
    color: #505050;
}
.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(245, 245, 245);
    padding: 15px;
    border: 2px solid #505050;
    border-radius: 5px;
    margin: 0px; 
    margin-bottom: 15px;
    
}

.post_content {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_img {
    border-radius: 5px;
    max-width: 100%;
}

.contact_list {
    list-style: none;
    padding-left: 10px;
}
}

